<!-- <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
        alt="Workflow">
      <h2 class="mt-8 text-center text-3xl font-extrabold text-gray-900">
        Sign in to your account
      </h2>
    </div>
    <form [formGroup]="form" class="mt-8 space-y-6" (ngSubmit)="submitForm($event)">
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <app-inputs
            class=" appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            [type]="username" [formControlName]="username" [errorMsg]="errorMsg.email" [showValidations]="true"
            [placeholder]="placeholderSignIn"></app-inputs>

        </div>
        <div>
          <app-inputs
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            [type]="password" [formControlName]="password" [errorMsg]="errorMsg.password"
            [placeholder]="placeholderPassword" [showValidations]="true"></app-inputs>

        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input id="remember_me" name="remember_me" type="checkbox"
            class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
          <label for="remember_me" class="ml-2 block text-sm text-gray-900">
            Remember me
          </label>
        </div>

        <div class="text-sm">
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
            Forgot your password?
          </a>
        </div>
      </div>

      <div>
        <button type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3"> </span>
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>

<button mat-button (click)="navigateToHome()">Home</button>-->

<div class="wrapper-auth min-h-screen grid">
  <div class="max-w-screen-2xl w-full h-full container-main-view m-auto">
    <div class="grid h-screen">
      <div class="left-login px-6 lg:max-w-xl">
        <div class="flex flex-col h-full justify-center items-center">

          <div class="grid w-full max-w-md container-auth">
            <div class="pb-8 mx-auto">
              <img class="mx-auto h-12 w-auto mb-7" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                alt="Workflow">
              <span class="text-center text-3xl lg:text-4xl font-extrabold text-gray-900">
                Sign in to your account
              </span>
            </div>

            <div class="flex flex-col">
              <span class="sign-with">Sign in with</span>
              <div class="grid gap-3 container-btn-social pt-2">
                <button *ngFor="let btn of btnsMedia; let i=index" mat-stroked-button class="btn-social-media">
                  <img class="w-6" [src]="btn.path" alt="">
                </button>
              </div>
            </div>

            <div class="container-or-cont flex flex-col justify-center self-center">
              <span>Or continue with</span>
            </div>

            <div class="">
              <form [formGroup]="form" (ngSubmit)="submitForm($event)">
                <div class="">
                  <app-inputs class="rounded-t-md" [type]="username" [formControlName]="username"
                    [errorMsg]="errorMsg.email" [showValidations]="true" [placeholder]="placeholderSignIn"></app-inputs>

                  <app-inputs class="rounded-t-md" [type]="password" [formControlName]="password"
                    [errorMsg]="errorMsg.password" [showValidations]="true" [placeholder]="placeholderPassword">
                  </app-inputs>
                </div>

                <div class="flex items-center justify-between other-opts">
                  <ng-container *ngIf="authMode else alreadyLoginT">
                    <div class="flex items-center">
                      <input id="remember_me" name="remember_me" type="checkbox"
                        class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded cursor-pointer">
                      <label for="remember_me" class="ml-2 text-gray-900">
                        Remember me
                      </label>
                    </div>

                    <div class="text-sm">
                      <span href="#" class="font-medium text-indigo-600 cursor-pointer">
                        Forgot your password?
                      </span>
                    </div>
                  </ng-container>

                  <ng-template #alreadyLoginT>
                    <div class="text-sm">
                      <span class="font-medium ">
                        Already have an account?
                      </span>
                      <span href="#" class="text-indigo-600 hover:text-indigo-500">
                        Log in
                      </span>
                    </div>
                  </ng-template>
                </div>

                <div class="pt-7">
                  <button mat-button class="btn-auth">
                    {{authMode ? 'Create Account' :  'Log in'}}
                  </button>
                </div>


              </form>
            </div>

          </div>
        </div>
      </div>

      <div class="right-login hidden lg:block">
        <img class="mx-auto h-full w-full object-cover" src="../../../../assets/img/trueeee.jpg" alt="Workflow">
      </div>

    </div>
  </div>
</div>
